GewndolineBot/bin/
GewndolineBot/obj/
.vs/
.idea/
GwendolineBot/bin/
GwendolineBot/obj/
GwendolineBot/Properties/PublishProfiles/desktop.ini
GwendolineBot/Migrations/desktop.ini
GwendolineBot/Commands/Rpg/desktop.ini
GwendolineBot/Commands/Lol/desktop.ini
GwendolineBot/Shared/desktop.ini
GwendolineBot/Properties/desktop.ini
GwendolineBot/Database/Models/Music/desktop.ini
GwendolineBot/Database/Handlers/desktop.ini
GwendolineBot/Commands/Help/desktop.ini
GwendolineBot/Commands/Gwen/desktop.ini
GwendolineBot/Commands/Api/desktop.ini
GwendolineBot/desktop.ini
GwendolineBot/Database/desktop.ini
GwendolineBot/Database/Models/desktop.ini
GwendolineBot/Commands/desktop.ini
GwendolineBot/Commands/Social/desktop.ini
GwendolineBot/Commands/Calendar/desktop.ini
GwendolineBot/Commands/Audio/desktop.ini
GwendolineBot/Database.Sqlite

GwendolineBot/appsettings.json
